html {
    background-color: #282c34;
    color: #bbbbbb;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

a { color: #bbbbbb; }
a:visited { color: #bbbbbb; }

h1 {
    color:#ffffff;
}

.tabulator {
    font-weight: bold;
}
